{% extends 'app/base.html' %}

{% block contenido %}
<h1>Receta: {{ receta.nombre }}</h1>

<div class="receta-bloques">
    <div>
        <h2>Descripción</h2>
        <ul class="receta-lista">
        {{ receta.descripcion }}
        </ul>
    </div>
    <div>
        <h2>Ingredientes actuales</h2>
        <ul class="receta-lista">
        {% for ingrediente in receta.ingredientes.all %}
            <li>
                <span>{{ ingrediente.nombre }}</span>
                <a href="{% url 'receta_eliminar_ingrediente' receta.pk ingrediente.pk %}" class="btn-accion btn-add"> Borrar </a>

            </li>
        {% empty %}
            <li>
                <span>Esta receta todavía no tiene ingredientes añadidos.</span>
            </li>
        {% endfor %}
        </ul>
    </div>

    <div>
        <h2>Añadir ingredientes</h2>
        <ul class="receta-lista">
        {% for ingrediente in ingredientes %}
            <li>
                <span>{{ ingrediente.nombre }}</span>
                <a href="{% url 'receta_agregar_ingrediente' receta.pk ingrediente.pk %}" class="btn-accion btn-add">Añadir</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

<div class="volver-centro">
  <a href="{% url 'inicio' %}" class="btn-accion btn-volver">Volver</a>
</div>
{% endblock %}